<form action="shortener" method="POST">
  <div>
    <label for="original_url">URL</label>
    <input type="text" name="original_url" id="original_url">
  </div>
  <input type="hidden" name="authenticity_token"
        value="<%= form_authenticity_token %>">
  <button type="submit">Get new url</button>
</form>


